a.back-to-top {
  text-decoration: none;
  color: #545454;
}

a.back-to-top:hover {
  color: #737373;
}

a.to-bottom {
  margin-right: 1.5vw;
  text-decoration: none;
  color: #545454;
}

a.to-bottom:hover {
  color: #737373;
}

.nav-links {
  text-decoration: none;
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

.main-logo {
  display: block;
  width: 25%;
  margin: 0 auto 3vh auto;

}

footer {
  background-color: #fff;
}
